<html>
<head>
    <title>Bartender App - Menu</title>
</head>
<body>

    <div class="container">
        <a href="@Url.Action("Index", "Home")">Back to Home</a>
        <h3>Available Cocktails</h3>
        <table>
            <thead>
                <tr>
                    <th>Cocktail Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cocktail in Model)
                {
                    <tr>
                        <td>@cocktail.Name</td>
                        <td>@cocktail.Description</td>
                        <td>@cocktail.Price.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("PlaceOrder", "Order")" class="btn btn-dark btn-dark-white-text m-2">Place Order</a>
    </div>
</body>
</html>
